.TableHeader {
    background-color: rgb(177, 135, 214);
}

.Table {
    background-color:cyan;
    line-height: 3rem;
    border: 0.150rem solid black;
    width: 70%;
    text-align: center;
    margin-left: 12rem;
}
